/redo
/*.hi
/*.o
/README.txt
/.redo
/cabal-dev
/dist
/README.html
/redo2.hi
/redo2
test/test0/.redo/
/test/test0/test
/test/test0/test-sub1
/test/test0/test-sub1-1
/test/test0/test-sub2
/test/test1/test
/test/test1/test-sub1
/test/test1/test-sub2
/test/test2/test
/test/test2/test-sub1
/test/test2/test-sub1-1
/test/test2/test-sub2.a
/cabal.sandbox.config
.cabal-sandbox/
test/test1/.redo/
test/test2/.redo/
